{% load static %}

<!-- Menu -->

<div class="menu">
    <div class="menu_header d-flex flex-row align-items-center justify-content-start">
        <div class="menu_logo"><a href="{% url 'index' %}">K Hub</a></div>
        <div class="menu_close_container ml-auto"><div class="menu_close"><div></div><div></div></div></div>
    </div>
    <div class="menu_content">
        <ul>
            <li 
                {% if '/' in request.path %}
                    class="active"
                {% else %}
                    class=""
                {% endif %}
            ><a href="{% url 'index' %}">Home</a></li>
            <li
                {% if 'about' in request.path %}
                    class="active"
                {% else %}
                    class=""
                {% endif %}
            ><a href="{% url 'index' %}">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="{% url 'news' %}">News</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Become A Member</a></li>
        </ul>
    </div>
    <div class="menu_social">
        <div class="menu_phone ml-auto">Call us: +232 79 442442</div>
        <ul class="d-flex flex-row align-items-start justify-content-start">
            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>